@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

body               {

    background-image: url(imag/fondo11.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content-header h1 {
    font-size: 60px;
    color: #f1017c;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    font-family: "Press Start 2P";
    text-align: center;
}

.felicity           {
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 60px;
}

.text               {
    font-size: 19px;
    color: blanchedalmond;
    text-align: center;
    margin-top: 60px;
    font-family: "Roboto Mono", monospace;   
}

h2                 {
    font-size: 50px;
    color: #1dc0b6;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}

.textinformation   {
    font-size: 19px;
    color: blanchedalmond;
    text-align: center;
    text-align: justify;
    margin-left: 5cm;
    margin-right: 5cm;
    font-family: "Roboto Mono", monospace;
}

.information           {
    font-size: 23px;
    color: blanchedalmond;
    margin-left: 5cm;
    margin-right: 5cm;
    background-color: #1dc0b55b;
    font-family: "Roboto Mono", monospace;
}

.link               {
    text-align: center;
    font-size: 40px;
    color: #f20079;
    margin-top: 60px;
    margin-bottom: 60px;    
    font-family: "Press Start 2P";
}



.numberPosition             {
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-size: 25px; 
    font-family: "Roboto Mono", monospace;
}

.newtext                {
    display: block;
    margin:0px auto;
    font-size: 19px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
}

.button         {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Roboto Mono", monospace;
   
}
.buttonCifrar           {
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    width: 10%;
    margin-left: 13.5cm;
    padding: 4px;
    border-radius: 3px;
    background-color: #f20079;
    color: white;
}

.buttonDescifrar        {
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    width: 10%;
    padding: 4px;
    border-radius: 3px;
    background-color: #f20079;
    color: white;
}
.resulttext             {
    display: block;
    margin:0px auto;
    font-size: 19px;
    font-family: "Roboto Mono", monospace;
    width: 50%;
    margin-bottom: 100px;
    border-radius: 3px;
}