@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

body               {

    background-image: url(imag/fondo11.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content-header h1 {
    font-size: 60px;
    color: #f1017c;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    font-family: "Press Start 2P";
    text-align: center;
}

.felicity           {
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 60px;
}

.text               {
    font-size: 19px;
    color: blanchedalmond;
    text-align: center;
    margin-top: 60px;
    font-family: "Roboto Mono", monospace;   
}

h2                 {
    font-size: 50px;
    color: #1dc0b6;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}

.textinformation   {
    font-size: 19px;
    color: blanchedalmond;
    text-align: center;
    text-align: justify;
    margin-left: 5cm;
    margin-right: 5cm;
    font-family: "Roboto Mono", monospace;
}

mark           {
    font-size: 23px;
    color: blanchedalmond;
    background-color: #1dc0b55b;
    text-align: center;
    text-align: justify;
    margin-left: 5cm;
    margin-right: 5cm;
    font-family: "Roboto Mono", monospace;
}

.link               {
    text-align: center;
    font-size: 40px;
    color: #f20079;
    margin-top: 60px;
    margin-bottom: 60px;    
    font-family: "Press Start 2P";
}



label               {
    color: blanchedalmond;
    font-size: 25px; 
    margin-left: 15cm;
    font-family: "Roboto Mono", monospace;
}

textarea                {
    width: 20cm;
    display: block;
    margin-left: 10.5cm;
}

.button             {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15cm;
    margin-right: 15cm;
}